html, body {
  margin: 0;
  padding: 0;
}

body
{
  display:      flex;
  font-family:  Helvetica;
  padding:      1em;
  box-sizing:   border-box;
  gap:1em;
}

canvas 
{
  flex:1
}

#column-right
{
  flex:       1;
  display:   flex;
  gap: 1em;
  flex-direction: column;
}

#column-right textarea
{
  height: 50vh;
}

#column-right #buttons
{
  display :   flex;
  gap:        5px;
}

