html, body {
  margin: 0;
  padding: 0;
}

body
{
  display:      flex;
  font-family:  Helvetica;
  padding:      1em;
  box-sizing:   border-box;
  gap:1em;
}

canvas 
{
  flex:1
}

textarea
{
  flex:       1;
  height: 50vh;
}